.main {
    display: flex;
}

@media screen and (max-width: 720px) {
    .main {
        flex-direction: column;
    }
}

@media screen and (min-width: 720px) {
    .editor, .result {
        width: 50%;
    }
}

.selector {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: .5rem;
}

.editor {
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px #ccc;
    margin: 2rem 0;
    padding: 2rem;
    box-shadow: 0;
    width: '50%'
}
